include ../_priceitem/_priceitem
mixin price
    section.price
        h1.price-title price
        ul.price-list
            li.price-list-elem
                +price-item({
                    price: "100$"
                })
            li.price-list-elem
                +price-item({
                    btn1: true,
                    price: "200$"
                })
            li.price-list-elem
                +price-item({
                    btn1: true,
                    btn2: true,
                    price: "300$"
                })
            li.price-list-elem
                +price-item({
                    btn1: true,
                    btn2: true,
                    btn3: true,
                    price: "400$"
                })

