mixin footer
    footer.footer-block
        nav.footer-nav
            a(href="#").foot-nav-elem about
            a(href="#").foot-nav-elem services
            a(href="#").foot-nav-elem tours
            a(href="#").logo.foot-nav-elem 
                span.logotipe
            a(href="#").foot-nav-elem blog
            a(href="#").foot-nav-elem portfolio
            a(href="#").foot-nav-elem contact