mixin footer
    footer.footer
        nav
            a(href="#") about
            a(href="#") services
            a(href="#") tours
            a(href="#").logo 
                span.logotipe
            a(href="#") blog
            a(href="#") portfolio
            a(href="#") contact