mixin info
    section.info
        block info-title
            .info-head
                h2.info-title information
                p.info-cont Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate distinctio consequatur, placeat quia atque eaque ab vitae fuga magni natus cum explicabo, assumenda veniam veritatis temporibus! Veniam, quae numquam.
            .info_main
                .info_content_item
                    .info_txt    
                        p.proj_content Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis debitis eligendi distinctio laborum, pariatur rerum maiores, architecto id voluptas voluptatem nostrum, vero tempora nam quia quo culpa explicabo velit delectus nemo. Non et magnam beatae alias, tenetur accusamus adipisci mollitia. Debitis rerum excepturi corrupti dicta, cupiditate soluta tempore! Eligendi quisquam quidem sunt explicabo suscipit nihil laudantium iure saepe quos? Sunt repudiandae odio unde ipsa iusto. Vero recusandae officiis aliquid, unde delectus quam totam soluta ullam veritatis aperiam vel reprehenderit dolore dolorem porro neque, dolorum possimus est quis consequuntur eos. Perspiciatis iste officia impedit nobis ullam assumenda numquam, laboriosam optio omnis velit dicta? Fugit, commodi rem debitis tempore, libero reiciendis dignissimos exercitationem, officiis cumque corporis odit ducimus odio ad sequi unde? Quod odio officiis placeat velit! Alias, eius consectetur! Reprehenderit accusamus iste eveniet excepturi quaerat fuga, minus praesentium! Consequuntur asperiores fugiat voluptas earum dolorum, quia molestiae inventore culpa placeat harum impedit.  
                .info_content_item
                    .info_txt
                        p.proj_content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quis magnam odit possimus. Debitis praesentium aliquid aperiam saepe ab ipsam ratione placeat, illo enim exercitationem perferendis amet. Fuga modi quasi vero molestiae laudantium aperiam voluptate alias odit a inventore eum error consequatur provident dolor fugiat autem laboriosam esse nihil, hic aliquid accusantium eius rem! Ad ut non asperiores nam rem earum ipsum eaque hic libero obcaecati sit voluptatum cupiditate iusto quibusdam fuga quisquam, sint unde natus aspernatur minima quas. Ea soluta, amet enim, delectus minima vel error aperiam voluptatibus dignissimos illo quisquam architecto reiciendis. Quas maxime quae doloremque dignissimos magnam!
                            a.proj_link(href="#") Lorem, ipsum dolor.
                .info_content_item
                    .cont_phot
                        img(src="./src/img/proj.png", alt="photo")
                .info_content_item
                    .info_txt
                        h2.proj_title project
                        p.proj_content Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam ipsam nulla fuga eius quas deserunt maiores. Veritatis aliquam in laborum eos nisi. Error quaerat minima, necessitatibus distinctio quae ipsam tempore voluptate, eveniet officiis eaque ad facilis repellat dolore vel. Nihil, numquam. Obcaecati nihil quasi provident iure nam quis officiis architecto. Placeat, eligendi ducimus. Libero molestias commodi tempora suscipit similique eaque quisquam ea asperiores. Libero sapiente vel illo iusto placeat odit adipisci voluptatibus itaque soluta hic, non nesciunt quisquam similique consequatur sit blanditiis beatae possimus aliquid voluptas fugit, officia optio eligendi tempore ratione. Harum culpa, iure et nostrum soluta totam perspiciatis eius illum repellat. Eius quam maxime ratione nihil tenetur. Fugiat eligendi perferendis similique dolore quisquam, repudiandae eius reiciendis expedita quibusdam cum. Debitis, illum ex, assumenda a repudiandae dolorem eligendi quo quidem laudantium ducimus quasi, exercitationem error expedita odit inventore officiis necessitatibus alias. Necessitatibus impedit eligendi ab, perferendis quisquam pariatur harum.
                        a.proj_link(href="#") Lorem, ipsum dolor.
                .info_content_item
                    .info_txt
                        h2.proj_title project
                        p.proj_content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt accusantium animi dicta nobis? Porro, deleniti. Repudiandae, mollitia sit! Vitae sequi, explicabo itaque dolorum at, eveniet dicta consectetur amet ab perferendis labore harum! Labore mollitia a aperiam impedit aut magnam, repellendus quidem veniam pariatur est, aliquam sequi ad praesentium blanditiis tenetur accusantium beatae nesciunt similique dolorem? Placeat dignissimos delectus, sint vitae aliquid pariatur optio perspiciatis distinctio sed harum cupiditate nostrum vel maxime aut omnis cum quis exercitationem modi saepe repudiandae repellendus quod ratione consequuntur veniam. Libero, at nobis? Voluptate quod harum unde ratione doloribus odio. Aut placeat, doloribus ab nesciunt porro aspernatur! Nihil, repudiandae distinctio, neque id ipsum molestias, hic iste quod illo accusantium velit est vitae eos sint earum. Facilis consectetur rerum expedita error corporis illum recusandae autem a dolorum ab qui facere accusantium architecto quaerat dolores esse maiores numquam ipsam amet et, nemo incidunt modi. Excepturi necessitatibus fugit itaque?
                        a.proj_link(href="#") Lorem, ipsum dolor.
                    .info_content_item
                        .cont_phot
                            img(src="./src/img/proj.png", alt="photo")

