* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

img {
  width: 100%;
  height: auto; }

.wrapper {
  margin: 0 auto; }

body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; }

header {
  background: #ccc; }

.main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1050px) {
    .main_nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: red; } }
  @media screen and (max-width: 1050px) {
    .main_nav .link-gr {
      background: blue;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 1050px) {
    .main_nav .link-gr .link-gr-item {
      width: calc(100%/3); } }
  .main_nav a {
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 50px;
    text-transform: uppercase;
    font-size: 1.5em; }
    .main_nav a:hover {
      background: #000; }

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  75% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #fff;
  position: relative;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite; }
  @media (max-width: 1050px) {
    .logo {
      display: none; } }
  .logo::after {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    -webkit-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .logo::before {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    -webkit-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
  .logo:hover {
    background: #000; }
    .logo:hover::after {
      border: 3px solid #000; }
    .logo:hover::before {
      border: 3px solid #000; }

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .company-info > div {
    width: 100%; }

.company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-left: 50px; }

.company-title {
  font-size: 5.2em;
  width: 30%; }

.company-txt {
  width: 40%;
  font-size: 1.8em;
  margin: 30px 0;
  color: #D2D2D2; }

.company-icons .icons-item {
  color: #757575;
  margin-right: 50px; }
  .company-icons .icons-item.apple:hover {
    color: #000; }
  .company-icons .icons-item.android:hover {
    color: green; }
  .company-icons .icons-item.windows:hover {
    color: blue; }
  .company-icons .icons-item .fab {
    font-size: 25px; }

.company-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0; }
  .company-label > figure {
    width: 60%; }

.subs {
  background: #51b736;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .subs .subscr_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc((845/1200)*100%); }
    .subs .subscr_form > input {
      border-style: none;
      padding: 14px 0;
      -webkit-transition: all .7s ease;
      transition: all .7s ease; }
      .subs .subscr_form > input[type="text"] {
        color: #fff;
        background: #87c677;
        width: calc((645/845)*100%);
        text-indent: 20px; }
      .subs .subscr_form > input:focus {
        background: #747470; }
      .subs .subscr_form > input[type="submit"] {
        padding: 14px 42px; }
        .subs .subscr_form > input[type="submit"]:hover {
          background: #ccc; }
  .subs .subscr_title {
    color: #fff;
    font-size: 3.6em;
    width: calc((355/1200)*100%);
    text-transform: capitalize;
    text-align: center; }

.price-list {
  width: calc((1000/1200)*100%);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.price-list-elem {
  border: 1px solid #000;
  width: calc((235/1000)*100%); }

.price-item .price-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  font-size: 1.2em;
  -webkit-transition: all .8s ease;
  transition: all .8s ease; }
  .price-item .price-cell.header {
    background: #A27E7E;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold; }
    .price-item .price-cell.header:hover {
      background: #3493C9; }
  .price-item .price-cell.price-val {
    font-size: 4em; }
  .price-item .price-cell:not(.header):hover {
    background: #93BC0F;
    color: #fff; }
    .price-item .price-cell:not(.header):hover > a {
      color: #fff; }
  .price-item .price-cell:last-child > a {
    font-size: 1.2em;
    color: #7B7B7B;
    text-transform: uppercase;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .price-item .price-cell > p {
    width: 75%; }

.company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .company-info > div {
    width: 100%; }

.company-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding-left: 50px; }

.company-title {
  font-size: 5.2em;
  width: 30%; }

.company-txt {
  width: 40%;
  font-size: 1.8em;
  margin: 30px 0;
  color: #D2D2D2; }

.company-icons .icons-item {
  color: #757575;
  margin-right: 50px; }
  .company-icons .icons-item.apple:hover {
    color: #000; }
  .company-icons .icons-item.android:hover {
    color: green; }
  .company-icons .icons-item.windows:hover {
    color: blue; }
  .company-icons .icons-item .fab {
    font-size: 25px; }

.company-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 100px 0; }
  .company-label > figure {
    width: 60%; }

.information imag {
  width: 100%;
  height: auto; }

.information .info-head {
  background: #59BA39;
  color: #fff;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .information .info-head > h2 {
    font-size: 5.7em; }
  .information .info-head > p {
    font-size: 1.8em;
    width: 40%; }

.information .info-main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  border: 3px  solid red; }
  .information .info-main .info-content-item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .information .info-main .info-content-item:nth-child(1) {
      padding: 30px 0; }
    .information .info-main .info-content-item .info-txt {
      width: calc((400/600)*100%); }
      .information .info-main .info-content-item .info-txt > h2 {
        font-size: 3.8em;
        text-transform: capitalize; }
      .information .info-main .info-content-item .info-txt .proj-content {
        font-size: 1.2em;
        margin: 20px 0; }
      .information .info-main .info-content-item .info-txt .proj-link {
        color: #51b736;
        font-weight: 700;
        text-transform: uppercase; }
        .information .info-main .info-content-item .info-txt .proj-link:hover {
          text-shadow: 0 0 10px green; }
    .information .info-main .info-content-item .cont-phot {
      width: 100%; }

.main-content > section {
  border: 3px solid red; }

.footer-block {
  background-color: #757575; }
  .footer-block .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer-block .footer-nav .foot-nav-elem {
      color: #fff; }
      .footer-block .footer-nav .foot-nav-elem:not(.logo) {
        display: inline-block;
        padding: 50px;
        font-size: 1.2em; }
      .footer-block .footer-nav .foot-nav-elem:hover:not(.logo) {
        background: #000;
        color: #fff; }
