mixin subscribe
    section.subs
        h1.subscr_title subscribe
        form(action="#").subscr_form
            input(type="text" placeholder="Enter your text" )#sub_inp
            input(type="submit" value="SUBMIT")