include _head/_head
include _header/_header
include _main/_main
include _footer/_footer
doctype
html(lang="en")
    block head
    head
        +head({
            title: "Pug_PROJ"
        })
    body
        block header
            +header
        block main
            +main
        block footer
            +footer