mixin company
    block company_content
        section.company-content
            h1 company information
            p.company_title Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sapiente amet libero nesciunt error illum provident possimus numquam corrupti quas mollitia, qui suscipit aspernatur laborum vel odio dolorem, facere optio. Deleniti magni eveniet dolores voluptatem pariatur sed numquam est voluptate?
            .company_icons
                a(href="#")
                    i.fab.fa-apple
                a(href="#")
                    i.fab.fa-android
                a(href="#")
                    i.fab.fa-windows
