mixin price-item(item)
    ul.price-item
        li.price-cell.header start
        li.price-cell
            if item.btn1
                i.fas.fa-check
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
            else
                i.fas.fa-times
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
        li.price-cell
            if item.btn2
                i.fas.fa-check
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
            else
                i.fas.fa-times
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
        li.price-cell
            if item.btn3
                i.fas.fa-check
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
            else
                i.fas.fa-times
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, nam?
        li.price-cell.price-val= item.price
        li.price-cell
            a(href="#") choose