include _company/_company
include _info/_info
include _price/_price
include _subscribe/_subscribe
mixin main
    main.main_content
        block company
            +company
        block info
            +info
        block price
            +price
        block subscribe
            +subscribe
        block ourteam